.all{
    display: flex;
    justify-content: space-between;
    align-items: center;


   

    .navbar{
        a{
            margin-right: 20px;
            color: black;
            font-size: 30px;
        }
    }

}

.home{
    color: red;
}

.mainbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .box{
        background-color: blue;
        width: 40%;
        height: 200px;
    }
}
